.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 150px;
  pointer-events: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex start;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
